/*Estilização da página Home*/
.topo {
    color: white;
    background-color: none;
    text-align: center;
    margin: 20px;
}

.container {
    color: white;
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}
#menu li{
  display: inline;
  padding: 10px;
}

#menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu li a:hover {
    color: grey;
}

.p-txt {
    padding: 4px;
    background-color:none;
    color: white;
    border: inset;
}

.br-50{
    border-radius: 50%;
}

.rodape{
    text-align: center;
    align-items: center;
}

.tm-logo{
    width: 50px;
    height: 50px;
    padding: 15px;
}


/*Estilização da página Contato*/

.ml-50{
    border: 40px black;
    color: white;
    margin-left: 400px;
}